<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
  <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/solar/bootstrap.min.css" rel="stylesheet" integrity="sha384-8nq3OiMMgrVFAHyRMMO+DTfMEciSY+c3Awhj/5ljQ1xck1Uv2BUtMjsjLD8GT5Er" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>

<body>

  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p>Click the button below to view Mars data</p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
  </div>

    <div class="container">

         <!-- Latest News -->
         
        <!-- <div class="row"> -->
            <div class="row"><h2>Latest Mars News</h2></div>
            <div class="row"><h6><strong>{{ title }}</strong></h6></div>
            <div class="row"><p>{{ news_paragraph }}</p></div>
        <!-- </div> -->

          <!-- Featured Image -->
          <div class="row">

            <div class="col">
              <div class="row"><h2>Featured Mars Image</h2></div>
              <div class="row"><img src="{{ featured_image_url }}" alt="Featured Image URL" width="80%" height="70%"></div>
            </div>

            <div class="col">
          <!-- Current wheather facts -->
            <div class="row">
                <div class="row"><h2>Current Weather on Mars</h2></div>
                <div class="row">{{ mars_weather }}</div>
            </div>
            </br> </br>
          <!-- Mars facts -->
          <div class="row"><h2>Mars Facts</h2></div>
          <div class="row">
              <table border="1">
                    <thead>                           
                       <tr style="text-align: center;">                             
                          <th>Description</th>
                          <th>Values</th>      
                       </tr>                        
                    </thead>                      
                    <tbody>  
                      {% for desc,value in marsfacts %}                         
                       <tr>                                                
                          <td>{{ desc}}</td>                                
                          <td>{{ value }}</td>                              
                       </tr> 
                       {% endfor %}               
                    </tbody>                    
                 </table>   
                </div>             
            </div>
          </div>     

        <!-- Mars hemispheres -->
        <div class="row"><h2>Mars Hemispheres</h2></div>
        <div class="row">
            <div class="col card">
                <div class="card-body" align = "center">
                  <img src="{{ hemisphere_image_urls[0].img_url }}" alt="{{ hemisphere_image_urls[0].title }}" width="80%" height="70%">
                  <p><strong>{{ hemisphere_image_urls[0].title }}</strong></p>
                </div>
            </div>
            <div class="col card">
                <div class="card-body" align = "center">
                  <img src="{{ hemisphere_image_urls[1].img_url }}" alt="{{ hemisphere_image_urls[1].title }}" width="80%" height="70%">
                  <p><strong>{{ hemisphere_image_urls[1].title }}</strong></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col card">
                <div class="card-body" align = "center">
                  <img src="{{ hemisphere_image_urls[2].img_url }}" alt="{{ hemisphere_image_urls[2].title }}" width="80%" height="70%">
                  <p><strong>{{ hemisphere_image_urls[2].title }}</strong></p>
                </div>
            </div>
            <div class="col card">
                <div class="card-body" align = "center">
                  <img src="{{ hemisphere_image_urls[3].img_url }}" alt="{{ hemisphere_image_urls[3].title }}" width="80%" height="70%">
                  <p><strong>{{ hemisphere_image_urls[3].title }}</strong></p>
                </div>
            </div>
        </div>
          
   </div>  <!-- container div -->
   

</body>

</html>


